@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*------ GENERAL ------*/

:root {
  --primary: #273742;
  --secondary: #1C5F6C;
  --medium: #058985;
  --light: #46B388;
  --super-light: #97D97C;
  --yell: #F9F871;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
html {
  height: 100%;
  color: var(--primary);
}

body {
  background: rgb(246, 255, 248);
  background-repeat: repeat;
  background-position: center;
}
/*------ NAVBAR ------*/
.navbar {
  background: var(--primary);
}

#logo {
  font-size: 2rem;
}

/*----------------------------*/

/*------ CONTAINER LOGIN/REGISTER ------*/
.container {
  margin-top: 3rem;
}

.container .login-text {
  color: rgb(39, 55, 66);
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 20px;
  display: block;
  text-transform: capitalize;
}

.container .login-email .input-group {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
}

.container .login-email .input-group input {
  width: 100%;
  height: 100%;
  border: 2px solid #e7e7e7;
  padding: 15px 20px;
  font-size: 1rem;
  border-radius: 30px;
  background: transparent;
  outline: none;
  transition: 0.3s;
}

.container .login-email .input-group input:focus {
  border-color: rgb(29, 98, 74);
}
.container .login-email .input-group input:valid {
  border-color: rgb(47, 171, 87);
}

.container .login-email .input-group .btn {
  display: block;
  width: 100%;
  padding: 15px 20px;
  text-align: center;
  border: none;
  background: rgb(47, 171, 87);
  outline: none;
  border-radius: 30px;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.container .login-email .input-group .btn:hover {
  transform: translateY(-5px);
  background: rgb(29, 98, 74);
}

.login-register-text {
  text-align: center;
  color: rgb(39, 55, 66);
  font-weight: 600;
}

.login-register-text a {
  text-decoration: none;
  color: rgb(29, 98, 74);
}

/*----------------------------*/

@media (max-width: 430px) {
  .container {
    width: 300px;
  }
  .container .login-social {
    display: block;
  }
  .container .login-social a {
    display: block;
  }
}

@media (max-width: 768px) {
  #logo {
    padding-top: 1rem;
    font-size: 1.7rem;
  }
}

.btn-outline-success{
  color: var(--light);
  border-color: var(--light);
}

.btn-outline-success:hover{
  background-color: var(--light);
  border-color: var(--light);
  
}

