#messages {
  height: 300px;
}

body {
  background-color: #e9e9e9;
}

#messages{
    font-size: large;
}

#clear{
    margin-top: 1rem;
}

#logo{
    font-size:2rem;
}

.container{
    margin-top: 1rem;
}

.scroll {
    max-height: 300px;
    overflow-y: auto;
}

@media (max-width: 768px) {
    #logo{
        padding-top: 1rem;
        font-size:1.6rem;
    }
}