@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#messages {
  height: 500px;
}

body,
html {
  height: 100%;
  color: rgb(39, 55, 66);
}

body {
  background: rgb(246, 255, 248);
  background-repeat: repeat;
  background-size: auto;
}

.navbar {
  background: rgb(39, 55, 66);
}

.card {
  color: rgb(39, 55, 66);
  border-radius: 40px;
  border: 2px solid rgb(47, 171, 87);
}

#messages {
  font-size: large;
  padding: 1rem;
}

#textarea {
  height: 2.8rem;
  font-size: 1.2rem;
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  border: 2px solid #e7e7e7;
  border-radius: 40px;
  background: #fff;
  outline: none;
  transition: 0.3s;
}

#textarea:focus {
  border-color: rgb(47, 171, 87);
}

#send {
  margin-right: 3px;
  filter: invert(100%);
}

#invio {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  padding: 0;
  border: none;
  background: none;
  background-color: rgb(47, 171, 87);
  border-radius: 100%;
  transition: 0.3s;
}

#invio:hover {
  background-color: rgb(29, 98, 74);
}

#clear {
  margin-top: 1rem;
}

#logo {
  font-size: 2rem;
}

.container {
  margin-top: 1rem;
}

.scroll {
  max-height: auto;
  overflow-y: auto;
}

.info {
  font-weight: bold;
}

.btn-success:hover {
  background-color: rgb(29, 98, 74);
}

@media (max-width: 768px) {
  #logo {
    padding-top: 1rem;
    font-size: 1.7rem;
  }

  #messages {
    height: 400px;
  }
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: none;
}

textarea {
  resize: none;
}
