#messages {
  height: 300px;
}

body, html {
    height: 100%;
    color: rgb(39, 55, 66);
}

body { 
    background: rgb(246, 255, 248);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    background: rgb(255, 255, 255);
}

.card{
    color: rgb(39, 55, 66);
}

#messages{
    font-size: large;
    padding: 1rem;
}

#clear{
    margin-top: 1rem;
}

#logo{
    font-size:2rem;
}

.container{
    margin-top: 1rem;
}

.scroll {
    max-height: 300px;
    overflow-y: auto;
}

.info{
    font-weight: bold;
}


@media (max-width: 768px) {
    #logo{
        padding-top: 1rem;
        font-size:1.6rem;
    }
}